{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h2>Liste des produits :</h2>
    <ul>
        {% for product in products %}
        <li>
            => {{ product.name }} : {{ product.price }}
        </li>
            {% else %}
            <li>
                Il n'y a pas de produits à afficher
            </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}
