{% extends "base.html.twig" %}

{% block body %}
    <h2>Nos produits</h2>
    {% for product in products %}
        <p> {{ product.name }} => <a href="/delete/{{product.id}}">{{ product.name }}</a> : {{ product.price }} €</p>
    {% else %}
        <b>Aucun produit pour le moment</b>
    {% endfor %}
{% endblock %}